{
	"env": {
		"development": {
			"presets": [
				[
					"@babel/preset-env",
					{
						"targets": {
							"browsers": ["last 2 versions"],
							"node": "current"
						},
						"debug": false
					}
				],
				"@babel/preset-react",
				"@babel/preset-flow"
			],
			"plugins": [
				"@babel/plugin-proposal-class-properties",
				"@babel/plugin-syntax-dynamic-import",
				"react-loadable/babel",
				"react-hot-loader/babel",
				[
					"babel-plugin-styled-components",
					{
						"ssr": true
					}
				]
			]
		},
		"production": {
			"presets": [
				[
					"@babel/preset-env",
					{
						"targets": {
							"browsers": ["last 2 versions"],
							"node": "current"
						},
						"debug": false
					}
				],
				"@babel/preset-react",
				"@babel/preset-flow"
			],
			"plugins": [
				"@babel/plugin-proposal-class-properties",
				"react-loadable/babel",
				[
					"babel-plugin-styled-components",
					{
						"ssr": true
					}
				]
			]
		},
		"test": {
			"presets": [
				[
					"@babel/preset-env",
					{
						"modules": "commonjs"
					}
				],
				"@babel/preset-react",
				"@babel/preset-flow"
			],
			"plugins": [
				"@babel/plugin-proposal-class-properties",
				[
					"babel-plugin-styled-components",
					{
						"ssr": true
					}
				]
			]
		}
	}
}
