{
	"extends": "airbnb",
	"rules": {
		"no-tabs": "off",
		"one-var": "off",
		"max-len": "off",
		"indent": ["error", "tab"],
		"react/jsx-indent": [4, "tab"],
		"class-methods-use-this": "off",
		"react/jsx-filename-extension": "off",
		"react/jsx-indent-props": [4, "tab"]
	},
	"globals": {
		"node": true,
		"fetch": true,
		"window": true,
		"document": true
	},
	"env": {
		"es6": true,
		"node": true,
		"browser": true
	}
}